<main class="main">
  <div class = "chat-page">
    <header>
      <h1>Atendimento on-line</h1>
    </header>
    <div class = "chat">
      <div class ="message attendant-message">
        <strong>Atendente diz:</strong>
        <p class="msg-chat">Blabla blabla blabla</p>
      </div>
      <div class ="message attendant-message">
        <strong>Atendente diz:</strong>
        <p class="msg-chat">Blabla blabla blabla</p>
      </div>
      <div class ="message user-message">
        <strong>Você diz:</strong>
        <p class ="msg-chat">Blabla blabla blabla</p>
      </div>
      <div class ="message user-message" #dynamicContainer>
        <strong>Você diz:</strong>
        <p class ="msg-chat">Blabla blabla blabla</p>
      </div>
    </div>
    <form #messageForm="ngForm" (ngSubmit)="onSubmit(messageForm)">
      <input
          name="textField"
          type = "Text"
          ngModel
          placeholder = "Digite sua mensagem..."
      />
      <button type="submit">ENVIAR</button>
    </form>
  </div>
</main>


<router-outlet />
